body {
    background-color: beige;
}

.heading1 {
    color: rgb(21, 31, 31);
    /* background-color: blue; */
}
.heading2{
    color: indigo;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    color: rgb(183, 166, 154);
    /* background-color: cadetblue; */
    font-family: 'Courier New', Courier, monospace;
}
#box1 {
    background-color: gold;
    border: 1px solid;
    width: 200px;
    height: 100px;
}
#box2 {
    background-color: brown;
    width: 500px;
    height: 100px;
}